<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631040192408-6j5m7ro9813rrsiigqucu13piqotlk5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631040192408-6j5m7ro9813rrsiigqucu13piqotlk5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBPhcEv8QJXyF9xzMJvmyPYjhR5t4GbX60</string>
	<key>GCM_SENDER_ID</key>
	<string>631040192408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qiita</string>
	<key>PROJECT_ID</key>
	<string>qiitaapp-f17ff</string>
	<key>STORAGE_BUCKET</key>
	<string>qiitaapp-f17ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631040192408:ios:74cb18687a559d6dd385ed</string>
</dict>
</plist>